name: Update Jade Library
on:
  push:
    branches:
      - main
      - uploads  # If you want it to run on uploads branch too
  pull_request:
    types: [closed]
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      
      - name: Update library index
        run: python update_library.py
      
      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add library.json
          git diff --quiet && git diff --staged --quiet || git commit -m "Update library index"
          git push
